/* .img-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cas{
    padding-top: 15px;
    border-radius: 50px;
    filter: blur(2px);
    width: 60%;
    height: 300px;
    z-index: -1000;

}

.tittle-service{
    position: absolute;
    top: 150px;
    left: 37%;
    color: #fff;
    font-size: 50px;
    z-index: -10;

}

.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
    background: white;
  }
  
  .image-container {
    background: linear-gradient(to top, #000000, #ff000d);
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
  }
  
  .content {
    padding: 10px;
    text-align: center;
  }
  
  .content h2 {
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    color: #a3501f;
    margin: 10px 0 5px;
  }
  
  .content p {
    font-size: 16px;
    color: #333;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }

  .content-machin{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 300px;
  }
  
  .divisionM{
    padding-left: 20%;
  }

  .tittle-drink{
    color: white;
  }




  @media (max-width: 700px) {

    .img-head{
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  
 
    .tittle-service{
      display: inline-flex;
      position: absolute;
      top: 100px;
      left: 10%;
      color: #fff;
      font-size: 50px;
  }

  
  .content-machin{
    width: 100%;
    height: 250px;
  }
  
  } */
