.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .container-box .box-content {
    display: flex;
    width: 80%;
    max-width: 1500px;
    height: 800px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }
  

  .container-box .box-left {
    padding: 50px;
    color: #fff;
    flex: 0.3;
    background: linear-gradient(
      to bottom,
      rgb(128, 0, 255),
      rgb(110, 60, 150)
    );
  }
  
  .container-box .box-right {
    flex: 0.7;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .container-box .box-right h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .container-box .contact-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .container-box .contact-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }

  .container-box .purple-button {
    align-self: flex;
    padding: 8px 16px;
    background-color: rgb(128, 0, 255);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    font-weight: 1000;
    transition: background-color 0.3s ease;
  }
  
  .container-box .purple-button:hover {
    background-color: rgb(100, 0, 200);
  }
  
  @media (max-width: 768px) {

    .container-box {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f5f5f5;
      padding:  1%;
    }
    
  
    .container-box .box-content {
      display: grid;
      width: 80%;
      max-width: 1500px;
      height: 600px;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    }
    
    .container-box .box-left {
      padding: 50px;
      color: #fff;
      background: linear-gradient(
        to bottom,
        rgb(128, 0, 255),
        rgb(110, 60, 150)
      );
    }
    
    .container-box .box-right {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }
    
    .container-box .box-right h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }