.container-asociar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container-asociar .box-container-asociar {
    display: flex;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.container-asociar .box-left-asociar {
    background-image: url(../../resources/Recurso-3@2x.png);
    color: white;
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container-asociar .box-left-asociar .box-left-asociar-content {
    padding: 0px 100px 0px 150px;
}

.container-asociar .box-left-asociar .box-left-asociar-content img {
    width: 100%;
    height: 100%;

}

.container-asociar .box-left-asociar .box-left-asociar-content p {
    font-size: 30px;
}

.container-asociar .box-left-asociar .box-left-asociar-content .club-content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.container-asociar .box-rigth-asociar {
    flex: 0.5;
}

.container-asociar .box-rigth-asociar img {
    width: 100%;
    height: 100%;
}

.container-asociar .btn-asociar {
    padding: 8px 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 19px;
    font-weight: 1000;
    transition: background-color 0.3s ease;
}

.content-asociar .bg1 {
    background-image: url(../../resources/Recurso-7@2x.png);
}


@media (max-width: 1150px) {
    .container-asociar {
        background-color: #f5f5f5;
    }

    .container-asociar .box-container-asociar {
        display: block;
        max-width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    }

    .container-asociar .box-left-asociar {
        background-image: url(../../resources/Recurso-3@2x.png);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container-asociar .box-left-asociar .box-left-asociar-content h1 {
        font-size: 80px;
        line-height: 5rem;
        font-weight: 900;
    }

    .container-asociar .box-left-asociar .box-left-asociar-content h2 {
        font-size: 20px;
        line-height: 1.5rem;
        font-weight: 900;
        width: 300px;
    }

    .container-asociar .box-left-asociar .box-left-asociar-content {
        padding: 0px 150px 0px 150px;
    }

    .container-asociar .box-rigth-asociar {
        padding: 0px 0px 0px 0px;
        background: #1f253a;
    }

    .container-asociar .box-left-asociar .box-left-asociar-content img {
        width: 100%;
        height: 100%;
        padding-top: 30%;
    }

    .container-asociar .box-left-asociar .box-left-asociar-content p {
        font-size: 10px;
        width: 100px;
    }


    .container-asociar .box-rigth-asociar img {
        width: 100%;
        height: 100%;
    }
}