.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30%;
  max-width: 100%;
  margin: auto;
}

.footer-logo {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.footer-section ul li a:hover {
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.6;
}

.footer a {
  color: white;
  padding: 10px;
}

.footer .footer-icons a:hover {
  color: rgb(170, 91, 250);
}

.footer-icons {
  display: flex;
    justify-content: center;
    padding:  0px 0px 0px 0px;
}


.img-footer{
  width: 100%;
  background-color: black;
}

@media (max-width :600px) {

  

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 100%;
  margin: auto;
}
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    padding:  0px 0px 0px 0px;
    /* font-size: 15px; */
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.6;
  }
  
}